jupyterlab
mlflow==2.12.1
setuptools
psutil
torch
onnx
torchvision
onnxruntime
skl2onnx
tritonclient[all]
git+https://github.com/triton-inference-server/server.git@v2.45.0#subdirectory=deploy/mlflow-triton-plugin
python-dotenv