git+https://github.com/triton-inference-server/server.git@v2.45.0#subdirectory=deploy/mlflow-triton-plugin
jupyterlab
mlflow==2.12.1
onnx
onnxruntime
psutil
python-dotenv
setuptools
skl2onnx
tritonclient[all]
opencv-python-headless